DATABASE_URL="postgresql://postgres:postgres@localhost:5432/takeops?schema=public"
AUTH_SECRET="gere com openssl rand -base64 32"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
# SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/takeops_shadow?schema=public"
